.App {
  max-height: 100vh;
  background-image: linear-gradient(45deg,#0b69a4,#8d7c5f,#063a22);
  background-size: 300% 300%;
  animation: color 5s ease-in-out infinite;
}

@keyframes color {
  0% { background-position: 0 50%;
}
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}  